*{margin:0;padding:0; }
 

 #topmenu-outer {
    background: #de2929 !important;
}
.menudanhmuc-thaiaiti ul li a {
    color: #fff !important;
    padding-top: 15px;
    padding-bottom: 9px;
    font: bold 24px arial !important;
}