/*! CSS Used from: https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css */
a{background-color:transparent;}
a:active,a:hover{outline:0;}
img{border:0;}
button,input{margin:0;font:inherit;color:inherit;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button[disabled]{cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
input{line-height:normal;}
@media print{
*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
a[href^="javascript:"]:after{content:"";}
img{page-break-inside:avoid;}
img{max-width:100%!important;}
h3,p{orphans:3;widows:3;}
h3{page-break-after:avoid;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
button,input{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#337ab7;text-decoration:none;}
a:focus,a:hover{color:#23527c;text-decoration:underline;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
h3{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h3{margin-top:20px;margin-bottom:10px;}
h3{font-size:24px;}
p{margin:0 0 10px;}
.row{margin-right:-15px;margin-left:-15px;}
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;}
.btn:active:focus,.btn:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:focus,.btn:hover{color:#333;text-decoration:none;}
.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125);}
.btn[disabled]{cursor:not-allowed;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none;opacity:.65;}
.clearfix:after,.clearfix:before,.row:after,.row:before{display:table;content:" ";}
.clearfix:after,.row:after{clear:both;}
@media (max-width:767px){
.hidden-xs{display:none!important;}
}
@media (min-width:768px) and (max-width:991px){
.hidden-sm{display:none!important;}
}
@media (min-width:992px) and (max-width:1199px){
.hidden-md{display:none!important;}
}
/*! CSS Used from: https://use.fontawesome.com/releases/v5.0.13/css/all.css */
.fa{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;}
.fa-eye:before{content:"\f06e";}
.fa-heart:before{content:"\f004";}
.fa{font-family:Font Awesome\ 5 Free;}
.fa{font-weight:900;}
/*! CSS Used from: https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css */
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-heart:before{content:"\f004";}
.fa-eye:before{content:"\f06e";}
/*! CSS Used from: https://bizweb.dktcdn.net/100/322/163/themes/675055/assets/owl.carousel.min.css?1532923818096 */
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative;}
.owl-carousel{display:none;width:100%;z-index:1;}
.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;}
.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0);}
.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none;}
.owl-carousel .owl-item img{display:block;width:100%;-webkit-transform-style:preserve-3d;}
.owl-carousel .owl-dots.disabled{display:none;}
.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.owl-carousel.owl-loaded{display:block;}
.owl-carousel.owl-drag .owl-item{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.owl-theme .owl-nav{margin-top:10px;text-align:center;-webkit-tap-highlight-color:transparent;}
.owl-theme .owl-nav [class*='owl-']{color:#FFF;font-size:14px;margin:5px;padding:4px 7px;background:#D6D6D6;display:inline-block;cursor:pointer;border-radius:3px;}
.owl-theme .owl-nav [class*='owl-']:hover{background:#869791;color:#FFF;text-decoration:none;}
.owl-theme .owl-nav .disabled{opacity:.5;cursor:default;}
.owl-theme .owl-dots{text-align:center;-webkit-tap-highlight-color:transparent;}
/*! CSS Used from: https://bizweb.dktcdn.net/100/322/163/themes/675055/assets/base.scss.css?1532923818096 */
*,input,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a{color:#363636;}
a:hover{color:#96bd1a;text-decoration:none;cursor:pointer;}
input,button{line-height:1.7;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;color:#252525;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;}
h3{font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;line-height:1.4;}
h3 a{text-decoration:none;font-weight:inherit;}
a{-webkit-transition:all 150ms ease-in-out;-moz-transition:all 150ms ease-in-out;-ms-transition:all 150ms ease-in-out;-o-transition:all 150ms ease-in-out;transition:all 150ms ease-in-out;}
a:focus{outline:none;}
h3{font-size:1.71429em;}
h3{color:#323c3f;letter-spacing:.01em;}
p{margin:0 0 15px 0;}
a{color:#363636;text-decoration:none;background:transparent;}
button{overflow:visible;}
button[disabled]{cursor:default;}
img{border:0 none;max-width:100%;height:auto;}
form{margin-bottom:30px;}
input,button{font-size:1em;}
input:focus,button:focus{outline:none;}
button{-webkit-appearance:none;-moz-appearance:none;}
input{border-radius:0;max-width:100%;}
input{display:inline-block;width:auto;}
button{cursor:pointer;}
.clearfix{*zoom:1;}
.clearfix:after{content:"";display:table;clear:both;}
.a-left{text-align:left!important;}
.btn{display:inline-block;height:40px;line-height:39px;padding:0 20px;text-align:center;white-space:nowrap;outline:none!important;cursor:pointer;border:none;font-weight:400;border-radius:0;letter-spacing:0;-webkit-transition:background-color 0.1s ease-in;-moz-transition:background-color 0.1s ease-in;-ms-transition:background-color 0.1s ease-in;-o-transition:background-color 0.1s ease-in;transition:background-color 0.1s ease-in;-webkit-border-radius:0;border-radius:0;}
.btn[disabled]{cursor:default;background-color:#e1e1e1;}
.btn.btn-circle{border-radius:50%;padding:0;}
.owl-carousel .owl-nav .owl-prev,.owl-carousel .owl-nav .owl-next{top:50%;border:none;position:absolute;text-decoration:none;width:25px;height:25px;margin-top:-15px;padding:0;background:transparent;outline:none;text-indent:1010%;border-radius:0;white-space:nowrap;margin-right:0;margin-left:0;}
.owl-carousel .owl-nav .owl-prev:hover,.owl-carousel .owl-nav .owl-next:hover{background:transparent!important;border:none;}
.owl-carousel .owl-nav .owl-prev:hover:before,.owl-carousel .owl-nav .owl-next:hover:before{color:#ff8e4a;}
@media (max-width: 767px){
.owl-carousel .owl-nav .owl-prev:hover:before,.owl-carousel .owl-nav .owl-next:hover:before{color:#252525;}
}
.owl-carousel .owl-nav .owl-prev:before,.owl-carousel .owl-nav .owl-next:before{font-family:"FontAwesome";text-indent:0;position:absolute;left:0;width:25px;text-align:center;line-height:25px;font-size:30px;color:#acacac;}
.owl-carousel .owl-nav .owl-prev{right:24px!important;left:auto;border:none;top:-50px;background:none;}
@media (max-width: 767px){
.owl-carousel .owl-nav .owl-prev{right:18px!important;}
}
.owl-carousel .owl-nav .owl-prev:before{content:"\f104";}
.owl-carousel .owl-nav .owl-next{right:0px!important;top:-50px;border:none;width:25px;height:25px;}
.owl-carousel .owl-nav .owl-next:before{content:"\f105";}
.owl-carousel .owl-nav .disabled{opacity:.5;cursor:default;}
@media (max-width: 767px){
.owl-carousel .owl-nav .owl-prev:before,.owl-carousel .owl-nav .owl-prev{background:transparent;}
.owl-carousel .owl-nav .owl-next{right:17px!important;width:0;border:0;background:transparent;}
}
.owl-carousel .owl-dots{display:block;right:-15px;bottom:0px;text-align:right;position:absolute;}
.owl-carousel .owl-item img{width:auto;}
/*! CSS Used from: https://bizweb.dktcdn.net/100/322/163/themes/675055/assets/style.scss.css?1532923818096 */
.row.row-noGutter-45{margin-left:-7.5px;margin-right:-7.5px;}
@media (max-width: 767px){
.row.row-noGutter-45{margin-left:0px;margin-right:0px;}
}
.product-box-h{min-height:355px!important;}
@media (min-width: 768px) and (max-width: 1199px){
.product-box-h{min-height:355px!important;}
}
.product-box-h .xem_nhanh{position:absolute;top:7px;left:20px;display:inline-block;opacity:0;z-index:999;}
.product-box-h .xem_nhanh .fa{color:#ff8e4a;}
.product-box-h .xem_nhanh:hover{color:#ff8e4a;}
.product-box-h .btn-wishlist{position:absolute;top:5px;right:27px;display:inline-block;opacity:1;z-index:9;border:none;height:0;width:0;color:#e1e1e1;margin:0;}
.product-box-h .btn-wishlist.iWishAdded{color:#ff8e4a;}
.product-box-h .btn-wishlist.iWishAdded .fa{color:#ff8e4a;}
.product_border{border:2px solid transparent;display:block;float:left;width:100%;margin-bottom:7px;}
@media (max-width: 767px){
.product_border{margin-bottom:0px;}
}
.product_border:hover{border:2px solid #ff8e4a;}
.product-box-h{position:relative;min-height:330px!important;margin:0;background:#fff;border:3px solid #f5f6f7;-webkit-transition:0.3s;-moz-transition:0.3s;-ms-transition:0.3s;-o-transition:0.3s;transition:0.3s;}
.product-box-h:hover .product-action{visibility:visible;}
@media (max-width: 374px){
.product-box-h{min-height:270px!important;}
}
@media (min-width: 374px) and (max-width: 413px){
.product-box-h{min-height:290px!important;}
}
@media (min-width: 414px) and (max-width: 543px){
.product-box-h{min-height:300px!important;}
}
.product-box-h .product-hide{margin-top:2px;}
.product-box-h .product-thumbnail{position:relative;}
.product-box-h .product-thumbnail>a.display_flex{width:100%;text-align:center;position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;height:216px;}
.product-box-h .product-thumbnail>a.display_flex:before{content:"";width:100%;height:100%;background:#fdfdfd;opacity:0;position:absolute;z-index:2;top:0;left:0;}
@media (max-width: 374px){
.product-box-h .product-thumbnail>a.display_flex{height:135px!important;}
}
@media (min-width: 374px) and (max-width: 413px){
.product-box-h .product-thumbnail>a.display_flex{height:150px!important;}
}
@media (min-width: 414px) and (max-width: 543px){
.product-box-h .product-thumbnail>a.display_flex{height:180px!important;}
}
.product-box-h .product-thumbnail>a.display_flex img{max-height:100%;width:auto!important;max-width:100%;display:block;}
.product-box-h .product-thumbnail:hover .image_link:before{opacity:.5;}
.product-box-h .product-action{text-align:left;display:none;margin-top:10px!important;position:absolute;bottom:0;left:20px;width:100%;z-index:999;}
.product-box-h .product-action form{margin:0;}
.product-box-h .product-action .btn.btn-cart{padding:0 14px;height:45px;line-height:45px;border-radius:3px;color:#fff;background:#ff8e4a;margin-right:2px;font-weight:bold;}
.product-box-h .product-info{z-index:10;position:relative;padding:0 10px 0px 20px;float:left;width:100%;}
@media (max-width: 767px){
.product-box-h .product-info{padding:0 10px 0 15px;}
}
.product-box-h .product-info .product-name{font-size:14px!important;line-height:21px;margin:15px 0 5px 0;font-weight:400;height:auto;word-break:break-word;max-height:40px;overflow:hidden;}
.product-box-h .product-info .product-name a{color:#252525;text-decoration:none;}
.product-box-h .product-info .product-name a:hover{color:#252525;text-decoration:underline;}
.product-box-h .product-info .product-hide .price-box .special-price{display:inline-block;margin-right:7px;}
@media (max-width: 375px){
.product-box-h .product-info .product-hide .price-box .special-price{margin-right:0px;}
}
.product-box-h .product-info .product-hide .price-box .old-price{display:inline-block;}
.product-box-h .product-info .product-price{color:#ff8e4a;font-size:16px;display:block;font-weight:bold;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;word-break:break-word;}
@media (max-width: 375px){
.product-box-h .product-info .product-price{font-size:15px;}
}
.product-box-h .product-info .product-price-old{text-decoration:line-through;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:13px;font-weight:400;margin:0;display:inline-block;color:#888888;}
@media (max-width: 375px){
.product-box-h .product-info .product-price-old{font-size:12px;}
}
@media (min-width: 1200px){
.product-box-h:hover .product-name{text-align:left;}
.product-box-h:hover .product-action{display:block;}
}
@media (min-width: 1200px){
.product-box-h:hover .quick-view{opacity:1!important;}
}
.product-price{color:#ff8e4a;font-size:1.42857em;line-height:24px;display:block;}
.owl-carousel.owl-loaded{display:block!important;}
.bizweb-product-reviews-badge{margin:0;}
.bizweb-product-reviews-badge>div{padding:0 3px!important;}
.bizweb-product-reviews-badge>div.bizweb-product-reviews-star{display:block;}
body .bizweb-product-reviews-badge div{display:none;}
body .bizweb-product-reviews-badge div>p{padding:0 3px!important;}
body .bizweb-product-reviews-badge div.bizweb-product-reviews-star{display:block;}
body .bizweb-product-reviews-badge .bizweb-product-reviews-star i{font-size:13px;}
body .bizweb-product-reviews-badge .bizweb-product-reviews-star .star-off-png:before{content:"\f005";color:#ccc;}
body .bizweb-product-reviews-badge{margin:0;}
.bizweb-product-reviews-badge div{padding:0px!important;}
/*! CSS Used from: https://bizweb.dktcdn.net/100/322/163/themes/675055/assets/module.scss.css?1532923818096 */
.text2line{overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.section_base .content_sec{margin-top:22px;}
@media (max-width: 767px){
.section_base .content_sec{margin-top:15px;}
}
.section_base .content_sec .prd_sec .owl-stage-outer{margin-left:-3px;}
@media (max-width: 767px){
.section_base .content_sec .prd_sec .owl-stage-outer .product_border{border:0;margin-bottom:0px;}
.section_base .content_sec .prd_sec .owl-stage-outer .product-box-h{border:0;margin:3.5px 0!important;}
}
@media (min-width: 1200px){
.section_base .product-thumbnail a.image_link{height:207px!important;}
}
@media (min-width: 768px) and (max-width: 991px){
.section_base .product-thumbnail a.image_link{height:218px!important;}
}
/*! CSS Used from: https://bizweb.dktcdn.net/100/322/163/themes/675055/assets/responsive.scss.css?1532923818096 */
@media (max-width: 768px){
.quick-view{display:none!important;}
}
/*! CSS Used from: https://bizweb.dktcdn.net/100/322/163/themes/675055/assets/iwish.css?1532923818096 */
.iWishHidden{display:none!important;}
.iwishAddWrapper{display:inline-block;margin:5px;border:solid 1px #f2f2f2;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;position:relative;}
*,:after,:before{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
/*! CSS Used from: https://productreviews.bizwebapps.vn/assets/css/bpr.min.css?v=1.0 ; media=all */
@media all{
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.star-off-png{font-size:2em;}
.star-off-png:before{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-family:"raty";font-style:normal;font-variant:normal;font-weight:normal;line-height:1;speak:none;text-transform:none;}
.star-off-png:before{content:"ï€†";}
}
/*! CSS Used from: https://productreviews.bizwebapps.vn/assets/css/productReviews.min.css?v=1.0 ; media=all */
@media all{
.bizweb-product-reviews-badge{display:table;margin:0 auto 0;}
.bizweb-product-reviews-badge div{display:table-cell;padding:0 3px;}
.bizweb-product-reviews-badge .bizweb-product-reviews-star i{font-size:18px;}
.bizweb-product-reviews-badge img{height:17px;width:18px;display:block;max-width:18px;}
.bizweb-product-reviews-badge p{margin:0;padding:0;font-size:14px;}
}
/*! CSS Used fontfaces */
@font-face{font-family:'FontAwesome';src:url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');src:url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot#iefix&v=4.7.0') format('embedded-opentype'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'FontAwesome';src:url('https://productreviews.bizwebapps.vn/assets/libs/font-awesome/fonts/fontawesome-webfont.eot?v=4.6.0');src:url('https://productreviews.bizwebapps.vn/assets/libs/font-awesome/fonts/fontawesome-webfont.eot#iefix&v=4.6.0') format('embedded-opentype'),url('https://productreviews.bizwebapps.vn/assets/libs/font-awesome/fonts/fontawesome-webfont.woff2?v=4.6.0') format('woff2'),url('https://productreviews.bizwebapps.vn/assets/libs/font-awesome/fonts/fontawesome-webfont.woff?v=4.6.0') format('woff'),url('https://productreviews.bizwebapps.vn/assets/libs/font-awesome/fonts/fontawesome-webfont.ttf?v=4.6.0') format('truetype'),url('https://productreviews.bizwebapps.vn/assets/libs/font-awesome/fonts/fontawesome-webfont.svg?v=4.6.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:"raty";font-style:normal;font-weight:normal;src:url("https://productreviews.bizwebapps.vn/assets/libs/raty/lib/fonts/raty.eot");src:url("https://productreviews.bizwebapps.vn/assets/libs/raty/lib/fonts/raty.eot#iefix") format("embedded-opentype");src:url("https://productreviews.bizwebapps.vn/assets/libs/raty/lib/fonts/raty.svg#raty") format("svg");src:url("https://productreviews.bizwebapps.vn/assets/libs/raty/lib/fonts/raty.ttf") format("truetype");src:url("https://productreviews.bizwebapps.vn/assets/libs/raty/lib/fonts/raty.woff") format("woff");}