*{margin:0;padding:0;box-shadow: 0 0 black;}

img.warning-icon-h {
    font-size: 15px;
    width: 16px;
}

#footer a {
    color: #363636!important;
}

#footer h2 {
    color: black!important;
    font-size: 16px!important;
    font-weight: bold!important;
    font-family: Arial;
}

#footer {
    background: none!important;
    /* color:  black; */
}

.menudanhmuc-thaiaiti ul li a {
    font-size: 15px !important;
    font-weight: normal!important;
    padding-bottom: 20px !important;
}

a.trigger {}

.menudanhmuc-thaiaiti li a:hover {
    background-color: #ff9d06!important;
    /* padding-bottom: 20px; */
}

.menudanhmuc-thaiaiti ul li ul li a:hover {
    background-color: #2882bc!important;
}

#topmenu1 ul li a {
    /* font-size: 16px !important; */
}
 .img_effect img {
    opacity: 0.95;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}